.body {
    font-family: 'Montserrat', sans-serif;
}

hr{
    background-color: #dbd8d8;
    width: 40%;
}

.header {
    background-color: #ececec;
    padding-bottom: 35px;
}


.card-deck {
    margin-top: 2em;

}

.card {
    background-color: #169998;
}

.card-img-top {
    height: 5.5em;
    width: 5.2em;
    margin-left: 40%;
    margin-right: 50%;
    margin-top: 2.4em;
}

.text-center {
    font-size: 1.9rem;
}

a {
    color: #fff;
}

a:hover {
    color: #fff;
}

p {
    line-height: 24px;
}

.footer {
    background-color: #dbd8d8;
    height: 100%;
    margin-top: 5em;
}

.img-fluid{
    margin-top: 2em;
}


.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px; 
   } 
   .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
   }


.fa, .fas {
    font-size: 40px;
    color: red;
}