
* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

section { width:10927px; position: relative;    }
.item{ float: left; position: relative;  height: 720px;}

.abs {
    position: absolute;
    background: url(imagens/bg.png) repeat-x;
    width:10927px;
    height: 720px;
}

#gentags {
    position:relative;
    margin-top: -.25em;
    display: inline-block;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.numeros {
    animation-name: pulse_animation;
    animation-duration: 4000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse_animation {
    /* 0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); } */
}

header {
   position: fixed;
    top: 25px;
    left: 100px;
}

header h3 {
    font-size: 28px;
    color: white;
}

header p {
    font-size: 12px;
    color: white;
    margin-top: 5px;
}

header h3 strong {
    text-transform: uppercase;

}

footer {
    top: 650px;
    left: 100px;
    position: fixed;
}

.sedis , .lais, .ufrn , .saude-gov {
    position: relative;
    top: 10px;
    width: 120px;
}

.lais {
    left: 155px;
    width: 90px;
}

.ufrn {
    left: 280px;
    width: 100px;
}

.saude-gov {
    left: 410px;
    width: 160px;
    top: 5px
}

.text {
    padding: 15px 25px;
    line-height: 20px;
    width: 250px;
    min-height: 20px;
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
    border-color: transparent; 
    background: white;
    position: absolute;
}

a {
    position: absolute;
}

.n1 {
    top: 200px;
    left: 310px;
}

.cx1 {
    top: 435px;
    left: 380px;
}

.cx2 {
    top: 460px;
    left: 785px;
}

.n2 {
    top: 420px;
    left: 690px;
}

.cx3 {top: 153px;left: 950px;}

.n3 {
    top: 353px;
    left: 1090px;
}

.cx4 {top: 149px;left: 1317px;}

.n4 {
    top:260px;
    left: 1433px;
}

.cx5 {top: 210px;left: 2230px;}

.n5 {
    top: 234px;
    left: 2130px;
}

.cx6 {top: 430px;left: 2372px;}

.n6 {
    top: 430px;
    left: 2683px;
}

.cx7 {top: 72px;left: 2922px;}

.n7 {
    top: 162px;
    left: 3233px;
}

.cx8 {top: 440px;left: 3741px;}

.n8 {
    top: 440px;
    left: 3641px;
}

.cx9 {top: 110px;left: 4317px;}

.n9 {
    top:260px;
    left: 4217px;
}

.cx10 {top: 460px;left: 4648px;}

.n10 {
    top:260px;
    left: 4648px;
}

.cx11 {top: 129px;left: 5254px;}

.n11 {
    top: 400px;
    left: 5077px;
}

.cx12 {top: 460px;left: 5762px;}

.n12 {
    top:260px;
    left: 5762px;
}

.cx13 {top: 159px;left: 6273px;}

.n13 {
    top: 322px;
    left: 6225px;
}

.cx14 {top: 460px;left: 6662px;}

.n14 {
    top: 360px;
    left: 6662px;
}

.cx15 {top: 96px;left: 7175px;}

.n15 {
    top: 396px;
    left: 7175px;
}

.cx16 {top: 460px;left: 7796px;}

.n16 {
    top:260px;
    left: 7796px;
}

.cx17 {top: 201px;left: 8215px;}

.n17 {
    top: 410px;
    left: 8215px;
}

.cx18 {top: 449px;left: 8667px;}

.n18 {
    top: 300px;
    left: 8667px;
}

.cx19 {top: 124px;left: 9379px;}

.n19 {
    top:260px;
    left: 9238px;
}

.cx20 {top: 460px;left: 9868px;}

.n20 {
    top:260px;
    left: 9739px;
}

.cx21 {top: 460px;left: 10268px;  }

.cx21 strong , .cx22 strong {
    color:#2f9463;
}

.cx22 {top: 110px;left: 10448px;}


